.App {
  margin: 0 auto;
  text-align: center;
}

.logo-image {
  height: 250px;
}

.allStatesDiv {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}


.stateDiv {
  background-image: url(./assets/USA-States-Color-Map.jpg);
  background-size: contain;
  border: 1px solid black;
  border-radius: 10px;
  height: 120px;
  width: 180px;
  display: grid;
  place-items: center;
  font-size: 18px;
  color: black;
  font-weight: bold;
}