.App {
  text-align: center;
}

.logo-image {
  height: 250px;
}

.allStatesDiv {
  width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}


.stateDiv {
  /* background-image: url(./assets/USA-States-Color-Map.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 10px;
  height: 160px;
  width: 180px;
  display: grid;
  place-items: end center;
  font-size: 18px;
  color: black;
  font-weight: bold;
}