.logo-image {
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logo-image img{
    height: 220px;
}

/* .dropdown {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: flex-end;
} */

.navbar {
    flex-wrap: nowrap;
    justify-content: center;
}
.navbar-brand{
    padding-left: 30px;
    padding-right: 30px;
}
.navi{
    z-index: 2;
    width: 100vw;
    position: fixed;
    top: 0;
}