.state-details {
    margin: 0 auto;
    width: 80vw;
    text-align: center;
}

.carousel .carousel-item>img {
    width: 300%
}
.carousel {
    margin: 0 auto;
    width: 50vw;
}

.state-container {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 20px;
    width: 70vw;
}
.sspy{
    position: fixed;
    top: 300px;
    left:0;
}